// as elements is float we use this hack to not make it's height: 0
@mixin  clearfix {
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}


@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}