.u-center-text{
    // just it as it added to parent with inline-block display
    text-align: center;
}

.u-margin-bottom-big{
    margin-bottom: 8rem; 
}

.u-margin-bottom-meduim{
    margin-bottom: 4rem; 
}

.u-margin-bottom-small{
    margin-bottom: 1.5rem;
}